openai
git+https://github.com/UKGovernmentBEIS/inspect_ai.git@ca0a3ef93b83985e3be6f6afde13e14803e88bf1
git+https://github.com/UKGovernmentBEIS/inspect_evals.git@28478ec48e18d99343fc2cc475de801c1a7a00e4
